
<form action="/add_word" method="post">
  <label for="word_intput">Enter new word:</label>
  <input id="word_input" type="text" name="word_intput">
  <button type="submit" class="btn btn-success">Add word</button></a>
</form>
<br>
<h3>Your dictionary:</h3>
<ul>
  <% @words.each do |word| %>
    <a href="/dictionary/<%=word.id%>/<%=word.title%>"><li><%= word.title %></li></a>
  <%end%>
</ul>
<br>
