
<h3><em><%= @current_word.title %></em> - Definitions:</h3>
<hr>
<form action="/dictionary/<%=@current_word.id%>/add_def" method="post">
  <label for="def_intput">Enter a definition:</label>
  <input id="def_input" type="text" name="def_input">
  <button type="submit" class="btn btn-info">Add definition</button></a>
</form>
<ul>
  <% @definitions.each do |definition| %>
    <li><%= definition.define %></li>
  <%end%>
</ul>
